section:not(.hero, .footer){
    max-width: 1200px;
    margin: 0 auto;

}

.hero{
    background-image: url(img/ds3background.jpg.jpg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-title{
    text-decoration: #f48035 underline;
}

.btn{
    font-weight:700;
}

.btn-primary{
    background-color: #00b2c8;
    border-color: transparent;
}

.btn-primary:hover{
    background-color:#f48035;
    border-color: transparent;
    transition: background-color 0.25s;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #00b2c8;
}

.nav-link {
    display: block;
    padding: 1rem 1rem;
}

a {
    color: #f8f9fa;
    text-decoration: none;
    background-color: #f48035;
}

.nav-pills .nav-link {
    border-radius: 0;
    margin-bottom: 30px;
}

a:hover:not(.btn-primary) {
    color:#00b2c8;
    font-size: 1.3em;
    transition:font-size 1.2s;
}

.carousel-control-prev, .carousel-control-next{
    width: 10%;
    margin-top:40px;
}

.d-block{
    margin-top: 40px;
}

.card-body{
    font-family: 'Lora', serif;
}

.mr-1, .mx-1{
    background-color: transparent;
}
.fab{
    font-size: 40px;
    color:#00b2c8;
}

.footer{
margin-top: 30px;
}

.subscribe-button{
    color:white;
    background-color: #f48035;
    margin-left: -25px;
    font-size: 1em;
}
.wrapper{
    margin-bottom: 30px;
}

body{
    font-family: 'El Messiri', sans-serif;
    font-size: 1.5em;
}

.form-control{
    font-size:1em; 
}
